<article class="container folder-list">
  <div fxLayout="row wrap" fxLayoutGap="12px">
    <a *ngFor="let folder of folders"
       fxFlex="auto"
       class="button"
       [routerLink]="['/', 'gallery', folder]">
        <span class="icon">
          <fa-icon [icon]="['far', 'folder']"></fa-icon>
        </span>
      <span>
          {{ folder }}
        </span>
    </a>
  </div>
</article>
